.form-control,
.ant-input-outlined,
.ant-collapse,
.ant-picker,
.ant-input-group-addon {
    border: 1.5px solid transparent !important;
    background-color: whitesmoke !important;
    border-radius: 0%;
  }
.form-control:hover,
.form-control:focus,
.form-control:active,
.ant-input-outlined:hover,
.ant-input-outlined:focus,
.ant-input-outlined:active,
.ant-input:hover,
  .ant-input:focus,
  .ant-input:active  {
    box-shadow: none !important;
    background-color: whitesmoke !important;
    border-color: rgb(94, 106, 47) !important;
}

.form-check-input,
.form-check-input:focus,
.form-check-input:active {
    cursor: pointer;
    color: white  !important;
    background-color: white !important;
    border:1.5px solid rgb(196, 207, 152);
    box-shadow: none !important;
    border-radius: 0%;
}

  
.form-check-input:checked {
    box-shadow: none !important;
    color: white  !important;
    background-color: rgb(94, 106, 47) !important;
    border-color: rgb(94, 106, 47) !important;
    border-radius: 0%;
    border-width: 1.5px;
}


  .ant-btn {
    color:black;
    border-color: rgb(94, 106, 47);
    background-color: rgb(94, 106, 47);
    border-radius: 0%;
    border-width: 1.5px;
    cursor: pointer;
  }
  
  /* Styles for the button on hover ant-btn-primary */
  .ant-btn:hover {
    color: black  !important;
    background-color: white !important;
    border-color: rgb(94, 106, 47) !important;
  }
  
  /* Styles for the button icon on hover */
  .ant-btn:hover .anticon,
  .ant-btn:focus .anticon,
  .ant-btn:active .anticon {
    color: black !important; /* Change icon color to black on hover, focus, and active */
  }
  
.ant-pagination-item{
    border-radius: 0% !important;
    border-width: 1.5px !important;
}
  .ant-pagination-item:hover,
  .ant-pagination-next:hover,
  .ant-pagination-previous:hover {
    background-color: rgb(94, 106, 47) !important;
    color: white !important;
    border-radius: 0%;
    border-width: 1.5px;
  }
  .ant-pagination-item-active {
    border-color: rgb(94, 106, 47) !important;
    border-radius: 0%;
    border-width: 1.5px;
  }
  
  .ant-pagination-item-ellipsis {
    color: rgb(196, 207, 152) !important; /* Change color of ellipsis to match background */
  }
  .ant-pagination-item-link-icon {
    color: rgb(94, 106, 47) !important; /* Change color of pagination icon */
  }
  .ant-timeline-item-head,
  .ant-timeline-item-head-blue{
    color: rgb(94, 106, 47) !important; 
    border-color: rgb(94, 106, 47) !important; 
    border-radius: 0%;
    border-width: 1.5px;
  }

.ant-pagination-item-active a {
    color: black !important; /* Change text color of active pagination item to black */
}
.ant-modal-content{
    border-radius: 0% !important;
    border-width: 1.5px !important; 
} 
  /* Loading spinner */
  .spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid rgb(94, 106, 47); /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto; /* Center the spinner */
  }
  
  /* Spinner animation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  #components-slider-demo-mark h4 {
    margin: 0 0 16px;
  }
  #components-slider-demo-mark .ant-slider-with-marks {
    margin-bottom: 44px;
  }
.ant-layout-sider-dark,
.ant-menu-dark{
    border-color: rgb(94, 106, 47) !important;
    border-radius: 0%;
    border-width: 1.5px;
    background-color: rgb(94, 106, 47) !important;
}
.ant-menu-item{
  border-radius: 0% !important;
  border-width: 1.5px !important;
  color: white !important;
  font-weight:400;
  font-size: 14px;
  padding: 3px;
}
.ant-menu-item .ant-menu-item-icon{
  font-weight:400 !important;
  font-size: 18px !important;
}
.ant-menu-item-selected{
  color: black !important;
  background-color: rgb(212, 210, 177) !important;
  border-radius: 0%;
  border-width: 1.5px;
}
.ant-menu-item-selected .ant-menu-item-icon {
  color: black !important;
  font-weight:400 !important;
  font-size: 24px !important;
}